	<header id="header">
	<div id="top-header">
		<div id="social" class="container">
			<div id="social-list" class="col-md-6 col-md-offset-6 col-xs-12">
				<a href="#" class="logo green-color">		
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
				<a href="#" class="logo green-color">		
					<i class="fa fa-twitter" aria-hidden="true"></i>	
				</a>
				<a href="#" class="logo green-color">	
					<i class="fa fa-tumblr" aria-hidden="true"></i>			
				</a>
			</div>
		</div>
		<div id="banner">
			<div id="logo">
				<a href="#"><img src="../images/manu.png" alt="logo-page"></a>
			</div>
		</div>
	</div>
		<div id="nav-top">
			<div id="nav-top" class="container">
				<nav id="nav-custom" class="navbar navbar-static-top navbar-toggleable-md navbar-default bg-faded">
				  <div class="container-fluid">
				    <div class="navbar-header">
				      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span> 
				      </button>
				      <a class="navbar-brand" href="#">&nbsp;</a>
				    </div>
				    <div class="collapse navbar-collapse" id="myNavbar">
				      <ul class="nav navbar-nav">
				        <li class="{{ home_active }}"><a href="/">Home</a></li>
				        <li class="{{ albums_active }}"><a href="/albums">Albums</a></li>
				        <li class="{{ blogs_active }}"><a href="/posts">Blogs</a></li> 
				        <li class="{{ about_active }}"><a href="/about">About</a></li> 
				      </ul>
				      <ul class="nav navbar-nav navbar-right" id="nav-user-info">
					      {{#if user }}
							    <li><a href="" ><i class="fa fa-user" aria-hidden="true"></i>	{{ user.name }} </a></li>
							    <li><a href="/sessions/logout" ><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
						  	{{else}}
					        <li><a href="" data-toggle="modal" data-target="#modal-login" ><i class="fa fa-sign-in" aria-hidden="true"></i>	Login </a></li>
					        <li><a href=""  data-toggle="modal" data-target="#modal-signup"><i class="fa fa-user" aria-hidden="true"></i> Sign Up</a></li>
				        {{/if}}
				      </ul>
				    </div>
				  </div>
				</nav>
			</div>
		</div>
	</header>