<h1 class='green-bg title-content'>Blog</h1>
{{#if posts}}
	<div id="blogs-list" class="">
		{{#each posts as |post| }}
			<div class="blog">
			<div class="title-post">
				<div class="avartar">
					<img src="images/dog.jpg" height="300" />
				</div>
				<div class="post-info">
						<div class="user-post">
						<a href="">{{ post.User.name }}</a>
					</div>
					<div class="time">
						<i class="fa fa-globe" aria-hidden="true"></i>&nbsp;&#183;
						<time> {{ post.createdAt }} </time>
					</div>
				</div>			
			</div>
			<div class="content-post">
				<div class="main-content-post">
					<span class="preview-content">
						{{ truncate post.content 200 }}
					</span>				
					<a href="./posts/{{ post.id }}">See more</a>
				</div>
				<div class="detail-views">
					<div class="n-vews"> 
						<i class="fa fa-eye" aria-hidden="true"></i>
						<span>{{ post.view }}</span>
					</div>
				</div>
			</div>
		</div>
		{{/each}}	
	</div>
{{else}}
	<h3 class="alert alert-info">Blogs are empty</h3>
{{/if}}
